@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");

/*
  **************************
  Base reset  styles
  ************************** */

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

/* Reset links to optimize for opt-in styling instead of opt-out.*/
a {
  color: inherit;
  text-decoration: inherit;
}

/* Removes the default spacing and border for appropriate elements */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

/* Remove the default font size and weight for headings. */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
  **************************
  Base styles 
  ************************** */

:root {
  /* colors */
  --gray-400: hsl(0, 0%, 15%);
  --gray-500: hsl(0, 0%, 23%);
  --brown-700-opac-8: hsla(36, 92%, 42%, 0.8);

  /* spacing */
  --letter-spacing-base: 4px;
  --border-sm: 5px;
  --section-height: 600px;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: var(--gray-500);
}

/* headings & logo */
h1,
h2 {
  font-family: Oswald, sans-serif;
  color: var(--gray-500);
}

#logo {
  font-size: 2.2rem;
}

/* header navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  margin: 1rem;
}

nav ul {
  font-size: 1.2rem;
  letter-spacing: var(--letter-spacing-base);
}

nav ul li {
  display: inline-block;
  padding: 0 0.5rem; /* { Top, Bottom 0px  Left,right  8px} */
}

nav li a:hover {
  border-bottom: 1px solid var(--gray-500);
}

.active {
  border-bottom: 1px solid var(--gray-500);
}

/* hero image */
#hero-image-container {
  position: relative;
  overflow: hidden;
}

#hero-image {
  height: var(--section-height);
  width: 100%;
  background: url("../images/hero-image.webp") no-repeat center center;
  /* animation zoom effect on loading page */
  animation: hero-zoom 5s;
  animation-fill-mode: forwards;
}

#hero-text {
  position: absolute;
  bottom: 30px;
  right: 150px;
  padding: 2rem 1rem;
  width: 300px;
  height: 200px;
  border-radius: var(--border-sm);
  background-color: var(--brown-700-opac-8);
}

#hero-text h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: white;
}

/* club-ethos  */
#club-ethos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 1rem auto;
  padding: 0 1rem;
  width: 100%;
  height: var(--section-height);
}

#club-ethos h1 {
  grid-column: 1 / 4;
  font-size: 2rem;
  text-align: center;
}

#club-ethos h2 {
  font-size: 1.75rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--gray-500);
}

/*
  **************************
  Animation styles 
  ************************** */

/* create the level zoom for hero image */
@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
